<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Vigilante
	<link href="https://fonts.googleapis.com/css?family=Muli:400,600|Rajdhani:400,600,700" rel="stylesheet">
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	section.VigilanteHero
		header.VigiglanteHero-header
			a(href="#").VigilanteHero-header-logo
				figure.VigilanteHero-header-logo-imagen
					img(src="img/logo.png", alt="logo")
				h1.VigilanteHero-header-logo-titulo Vigilante
			ul.VigilanteHero-header-collapse
				li.VigilanteHero-header-collapse-item
					a(href="#") Inicia Sesión
				li.VigilanteHero-header-collapse-item
					.VigilanteHero-header-collapse-item-carro
						span.fas.fa-shopping-cart
						span Carro
					.VigilanteHero-header-collapse-item-cero
						span 0
			navbar.VigilanteHero-header-navbar
				ul.VigilanteHero-header-navbar-menu
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Iniciar Sesión
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Registrarse
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Productos
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Quienes Somos
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Contacto
		.VigilanteHero-copy
			.VigilanteHero-copy-callToAction
				h3.VigilanteHero-copy-callToAction-caption!= "01 <span>intro</span>"
				h1.VigilanteHero-copy-callToAction-title!= "<span>Asegura tu hogar</span> Con Vigilante"
				a(href="#").btn Comprar Ahora
			.VigilanteHero-copy-donde
				h4.VigilanteHero-copy-donde-caption Camaras donde Quieras
				img(src="img/donde.jpg", alt="camaras")
			.VigilanteHero-copy-cuantas
				h4.VigilanteHero-copy-cuantas-caption Cuantas necesites
				img(src="img/cuantas.jpg", alt="cuantas")
			.VigilanteHero-copy-observa
				h4.VigilanteHero-copy-observa Observa donde quieras
				img(src="img/observa.jpg", alt="observa")
			.VigilanteHero-copy-leer
				a(href="#").btn.VigilanteHero-copy-leer-btn Aprender Más
			.VigilanteHero-copy-cita
				h2.VigilanteHero-copy-cita-title Prevención lo que se hace seguridad lo que se logra
				span.VigilanteHero-copy-autor Wilmer romero hermitaño
				





