<!DOCTYPE html>
html(lang="es")
head
	meta(charset="UTF-8")
	title Registro
	<link href="https://fonts.googleapis.com/css?family=Muli:400,600|Rajdhani:400,600,700" rel="stylesheet">
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/normalize.css")
	link(rel="stylesheet", href="css/bootstrap.min.css")
	link(rel="stylesheet", href="css/registro.css")
body
	section.VigilanteHero
		header.VigilanteHero-header
			a(href="#").VigilanteHero-header-logo
				figure.VigilanteHero-header-logo-imagen
					img(src="img/logo.png", alt="logo")
				h1.VigilanteHero-header-logo-titulo Vigilante
			ul.VigilanteHero-header-collapse
				li.VigilanteHero-header-collapse-item
					a(href="#") Inicia Sesión
				li.VigilanteHero-header-collapse-item
					.VigilanteHero-header-collapse-item-carro
						span.fas.fa-shopping-cart
						span Carro
					.VigilanteHero-header-collapse-item-cero
						span 0
				li.VigilanteHero-header-collapse-item
					span.fa.fa-bars#burguer
			navbar.VigilanteHero-header-navbar#menu
				span.fa.fa-times.VigilanteHero-header-navbar-close#close
				ul.VigilanteHero-header-navbar-menu
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Iniciar Sesión
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Registrarse
					li.VigilanteHero-header-navbar-menu-item
						a(href="productos.html") Productos
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Quienes Somos
					li.VigilanteHero-header-navbar-menu-item
						a(href="#") Contacto
	section.Registro
		.Registro-contenedor
			a(href="#").Registro-iniciar
				.Registro-iniciar-header
					i.fa.fa-user
				.Registro-iniciar-body
					h2.Registro-iniciar-body-title Ya estoy registrado
					p.Registro-iniciar-body-parrafo Si ya estar registrado entonces inicia seción
				.Registro-iniciar-footer
					i.fa.fa-angle-left
			form.Registro-form
				.Registro-form-item
					.Registro-form-item-descripciones
						label.Registro-form-item-descripciones-descipcion Nombre
					.Registro-form-item-entrada
						input(type="text" placeholder="Nombre Apellido").form-control.Registro-form-item-entrada-input
				
				.Registro-form-item
					.Registro-form-item-descripciones
						label.Registro-form-item-descripciones-descipcion Nacimiento
					.Registro-form-item-entrada
						input(type="date" placeholder="00/00/0000").form-control.Registro-form-item-entrada-input
				
				.Registro-form-item
					.Registro-form-item-descripciones
						label.Registro-form-item-descripciones-descipcion Email
					.Registro-form-item-entrada
						input(type="Email" placeholder="nombre@gmail.com").form-control.Registro-form-item-entrada-input
				
				.Registro-form-item
					.Registro-form-item-descripciones
						label.Registro-form-item-descripciones-descipcion Nombre
					.Registro-form-item-entrada
						input(type="password" placeholder="*********").form-control.Registro-form-item-entrada-input
				.Registro-form-boton
					button(type="submit").Registro-form-boton-btn Registrarse
	footer.VigilanteFooter
		.VigilanteFooter-grid
			.VigilanteFooter-grid-column
				.VigilanteFooter-grid-column-container
					h2.VigilanteFooter-grid-column-title Categorias
					ul.VigilanteFooter-grid-column-list
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Camaras Fijas
						li.VigilanteFooter-grid-column-list-item
							a(href="#") DVR
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Conectores
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Calbes
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Monitores
			.VigilanteFooter-grid-column
				.VigilanteFooter-grid-column-container
					h2.VigilanteFooter-grid-column-title Tienda
					ul.VigilanteFooter-grid-column-list
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Iniciar Sesión
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Registrarse
						li.VigilanteFooter-grid-column-list-item
							a(href="productos.html") Productos
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Quienes Somos
						li.VigilanteFooter-grid-column-list-item
							a(href="#") Contacto
			.VigilanteFooter-grid-column
				.VigilanteFooter-grid-column-container
					h2.VigilanteFooter-grid-column-title Social
					.VigilanteFooter-grid-column-logo
						img(src="img/logo.png", alt="logo")
						h3.VigilanteFooter-grid-column-logo-nombre Vigilante
					ul.VigilanteFooter-grid-column-list
						li.VigilanteFooter-grid-column-list-item
							a(href="#")
								span.fab.fa-facebook-f
						li.VigilanteFooter-grid-column-list-item
							a(href="#")
								span.fab.fa-instagram
						li.VigilanteFooter-grid-column-list-item
							a(href="#")
								span.fab.fa-twitter
						li.VigilanteFooter-grid-column-list-item
							a(href="#")
								span.fab.fa-youtube
		.VigilanteFooter-footer
			span.VigilanteFooter-footer-item &copy; 2018 Vigilante. Todos los derechos reservados.
			span.VigilanteFooter-footer-item!= "Diseño y Desarrollo por <a href='http://jesusrojas.com.ve' target='_blank'>Jesús Rojas</a>"
	script(src="js/app.js")