/*font-family: 'Muli', sans-serif;
font-family: 'Rajdhani', sans-serif;*/
:root{
	--FuenteP: 'Muli', sans-serif;
	--FuenteS: 'Rajdhani', sans-serif;

	--colorBack: #151922;
	--tituloCopy: #41454e;
	--botones: #ff6158;
	--imgBack: #f1f1f1;
	--colorTitle: #272c32;
	--colorText: #686b70;
	--carro: #6364d8;
	--cero: #3939b1;
	--blogBack: #fafafa;
	--footerBack: #2f343a;
	--botonA: #ff9667;
	--botonB: #ffbd81;
}
.btn{
	font-family: var(--FuenteS);
	text-transform: uppercase;
	font-weight: 600;
	position: relative;
	overflow: hidden;
	z-index: 1000;
	width: 100%;
	height: 40px;
	&:after{
		position: absolute;
		top: 0;
		left: 0;
		content: '';
		background: var(--botones);
		transition: .3s;
		width: 40%;
		height: 100%;
		z-index: 0;
		padding: 0 1em;
	}
	&:hover{
		color: white;
		&:after{
			width: 90%;
		}
	}

}
.VigilanteHero{
	/*---------- Header ----------*/
	padding: 1em 5em;
	background: var(--colorBack);
	&-header{
		background: var(--colorBack);
		color: black;
		display: flex;
		justify-content: space-between;
		&-logo{
			align-items: center;
			display: flex;
			&-imagen{
				width: 20%;
				margin: 0;
				img{
					width: 100%;
				}
			}
			&-titulo{
				color: white;
				font-family: var(--FuenteP);
				font-size: 2rem;
				margin: 0;
				padding-left: .5em;
			}
		}
		&-collapse{
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style: none;
			&-item{
				margin: .5em;
				a{
					padding: 2em;
					color: white;
					font-family: var(--FuenteP);
				}
				&:nth-child(2){
					display: flex;
					align-items: center;
					border-radius: 10px;
					overflow: hidden;
				}
				&-carro{
					display: flex;
					align-items: center;
					background: var(--carro);
					color: white;
					padding: .5em 1em;
					span:last-child{
						margin-left: .5em;
						font-family: var(--FuenteP);
					}
				}
				&-cero{
					background: var(--cero);
					padding: .5em 1em;
					color: white;
					font-family: var(--FuenteP);
				}
				&:last-child{
					color: white;
					font-size: 1.5rem;
				}
			}
		}
		&-navbar{
			display: none;
		}
	}
	/* --------- Copy ----------*/
	&-grid{
		display: grid;
		grid-template-columns: repeat(8,1fr);
		grid-gap: 10px;
		grid-auto-flow: column dense;
		grid-auto-rows: 100px;
	}
	img{
		width: 100%;
	}
	&-copy{
		background: var(--colorBack);
		border-top: 1px solid white;
		border-right: 1px solid white;
		padding: 0 2em 2em 0; 

		&-callToAction{
			padding: 3em 4em;
			grid-column: 1/6;
 			grid-row: 1/6;
			&-caption{
				color: white;
				font-family: var(--FuenteS);
				font-weight: 600;
				font-size: 3rem;
				span{
					color: var(--tituloCopy);
					font-size: 1.5rem;
					text-transform: uppercase;
				}
			}
			&-title{
				font-family: var(--FuenteP);
				font-weight: 600;
				font-size: 4rem;
				color: white;
				span:first-child{
					color: var(--tituloCopy);
				}
			}
			&-btn{
				margin-top: 1em;
				color: white;
				font-size: 1.5rem;
				width: 40%;
				&:after{
					content: 'Comprar Ahora';
				}
			}
		}
		&-donde{
			grid-column: 7/9;
  			grid-row: 1;
  			&-caption{
  				padding-top: 1em;
  				color: white;
  				font-family: var(--FuenteS);
  				width: 70%;
  				text-transform: uppercase;
  			}
		}
		&-cuantas{
			grid-column: 5/7;
			grid-row: 3/5;
			&-caption{
  				color: white;
  				font-family: var(--FuenteS);
  				text-transform: uppercase;
  			}
		}
		&-observa{
			grid-column: 7/9;
			grid-row: 4/6;
			&-caption{
  				color: white;
  				font-family: var(--FuenteS);
  				text-transform: uppercase;
  			}
		}
		&-leer{
			grid-column: 5/7;
			grid-row: 5;
			display: flex;
			justify-content: flex-end;
			&-btn{
				font-size: 1.3em;
				color: white;
				display: flex;
				width: 60%;
				&:after{
					content: 'Aprender Mas';
					height: 80%;
				}
				&:hover{
					&:after{
						width: 100%;
					}
				}
			}

		}
		&-cita{
			grid-column: 1/4;
			grid-row: 6/8;
			background: white;
			padding: .5em 2em;
			font-family: var(--FuenteS);
			text-transform: uppercase;
			&-title{
				font-weight: bold;
				font-size: 2.5rem;
				display: inline;
			}
			&-autor{
				font-weight: bold;
				margin-left: 4em;
				color: var(--tituloCopy);
			}
		}
	}
}
