@import './estilos.css';
@import './productos.css';
:root{
	--FuenteP: 'Muli', sans-serif;
	--FuenteS: 'Rajdhani', sans-serif;

	--colorBack: #151922;
	--tituloCopy: #41454e;
	--botones: #ff6158;
	--imgBack: #f1f1f1;
	--colorTitle: #272c32;
	--colorText: #686b70;
	--carro: #6364d8;
	--cero: #3939b1;
	--blogBack: #fafafa;
	--footerBack: #2f343a;
	--botonA: #ff9667;
	--botonB: #ffbd81;
}
body{
	background: #f1f1f1;
}
.VigilanteHero{
	&-header{
		grid-template-columns: 1fr 1fr 1fr 1fr 14%;
		&-form{
			grid-area: 1 / 2 / 2 / 4;
		}
		&-collapse{
			grid-area: 1 / 5 / 2 / 6;
			&-item{
				grid-area: 1 / 4 / 2 / 5;
			}
		}

	}
}
.Item{
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	grid-auto-rows: 120px;
	grid-gap: 20px;
	padding: 7em 4em;
	&-producto{
		grid-area: 1 / 1 / 5 / 3;
		&-imagen{
			width: 100%;
		}
	}
	&-header{
		grid-area: 1 / 3 / 2 / 4;
		display: grid;
		grid-template-columns: 2fr 1fr;
		&-title{
			font-family: var(--FuenteP);
			font-weight: 600;
			color: var(--colorTitle);
			margin-right: 1em;
		}
		&-corazon{
			font-size: 2rem;
			color: var(--colorText);
			margin-top: .25em;
		}
		&-estrellas{
			font-size: 1.4rem;
			color: var(--colorText);
		}

	}
	&-body{
		grid-area: 2 / 3 / 4 / 4;
		&-renta{
			font-family: var(--FuenteS);
			font-size: 2.3rem;
			color: var(--colorText);
			span{
				margin-left: 1em;
				color: var(--botones);
			}
		}
		&-compra{
			font-family: var(--FuenteS);
			font-size: 1.6rem;
			color: var(--colorText);
			span{
				margin-left: 1em;
				color: var(--botones);
			}
		}
		&-descripcion{
			font-family: var(--FuenteS);
			color: var(--colorText);
			font-size: 1.2rem;
			b{
				font-weight: 600 !important;
			}
		}
	}
	&-footer{
		grid-area: 4 / 3 / 5 / 4;
		margin-top: 2em;
		&-btn{
			font-family: var(--FuenteP);
			color: var(--colorText);
			padding: 1.5em 2em;
			border: 1px solid var(--colorText);
			font-size: 1.3rem;
			font-weight: 600;
			&:hover{
				text-decoration: none;
			}
			&:first-child{
				&:hover{
					color: var(--colorText);
				}
			}
			&:last-child{
				margin-left: 1em;
				background: var(--carro);
				color: white;
				border: 1px solid var(--carro);
			}
		}
	}
}