:root{
	--FuenteP: 'Muli', sans-serif;
	--FuenteS: 'Rajdhani', sans-serif;

	--colorBack: #151922;
	--tituloCopy: #41454e;
	--botones: #ff6158;
	--imgBack: #f1f1f1;
	--colorTitle: #272c32;
	--colorText: #686b70;
	--carro: #6364d8;
	--cero: #3939b1;
	--blogBack: #fafafa;
	--footerBack: #2f343a;
	--botonA: #ff9667;
	--botonB: #ffbd81;
}
.VigilanteHero{
	/*---------- Header ----------*/
	&-header{
		display: grid;
		grid-template-columns: repeat(5,1fr);
		grid-auto-rows: 60px;
		&-logo{
			grid-area: 1 / 1 / 2 / 2;
		}
		&-collapse{
			&-item{
				&:last-child{
					display: none;
				}
			}
		}
		&-form{
			grid-area: 2 / 3 / 3 / 5;
			&-group{
				&-prepend{
					display: flex;
					background: white;
					justify-content: center;
					align-items: center;
					padding: 1em 1em;
					border-radius: .25rem 0 0 .25rem;
					span{
						color: #5c5a59;
						font-size: 1.5rem;
					}
				}
				&-input{
					border: none;
					padding: 1em 2em 1em 1em 0;
					font-family: var(--FuenteP);
					&:focus{
						border: none;
						box-shadow: none;

					}
				}
			}
		}
		&-collapse{
			grid-area: 1 / 3 / 2 / 6;
			justify-content: flex-end;
			&-item{
				grid-area: 2 / 5 / 3 / 6;
				&-carrito{
					display: flex;
					border-radius: .25rem;
					overflow: hidden;
					margin: 0 0 0 1em;
					font-size: 1.5rem;
				}
				&-cero{
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 0 .25rem .25rem 0;
				}
			}
		}
	}
}
.Productos{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-auto-rows: 200px;
	grid-gap: 20px;
	padding: 3em 5em;
	&-categoria{
		margin-top: -33%;
		grid-area: 1 / 1 / 3 / 3;
		background: white;
		box-shadow: 0px 11px 20px 0px #f1f1f1;
		padding: 2em;
		width: 90%;
		border-radius: 1rem;
		&-titulo{
			color: var(--colorText);
			font-family: var(--FuenteS);
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1rem;
		}
		&-item{
			margin-bottom: .5em;
			&-title{
				color: var(--colorTitle);
				font-family: var(--FuenteS);
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 0;
				font-size: 1.5rem;
			}
			&-lista{
				list-style: none;
				margin: 0;
				padding: .2em 1em;
				font-family: var(--FuenteP);
				a{
					transition: .3s;
					color: var(--colorText);
					&:hover{
						text-decoration: none;
						color: var(--botones);
					}
				}
			}
		}
	}
	&-comprar{
		grid-area: 1 / 3 / 5 / 7;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 50px 50px 1fr 1fr;
		grid-gap: 20px;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
		}
		&-title{
			grid-area: 1 / 1 / 2 / 5;
			font-family: var(--FuenteP);
			font-weight: 600;
		}
		&-categoria{
			grid-area: 2 / 1 / 3 / 5;
			font-family: var(--FuenteS);
			font-weight: 600;
			color: var(--colorText);
			text-transform: uppercase;
			border-bottom: 1px solid var(--colorText);
			span{
				color: var(--carro);
			}
		}
		&-producto{
			box-shadow: 0px 11px 20px 0px #f1f1f1;
			text-align: center;
			padding: 3em 1em 2em 1em;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			&:hover{
				text-decoration: none;
			}
			&-titulo{
				color: var(--colorText);
				font-family: var(--FuenteP);
				font-size: 1.1rem;
			}
			&-precio{
				color: var(--botones);
				font-family: var(--FuenteS);
				font-weight: 600;
				font-size: 1.1rem
			}
		}
	}
}
@media screen and (max-width: 1024px){
	.Productos{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		&-categoria{
			grid-area: 1 / 2 / 4 / 1;
			width: 100%;
			&-item{
				&-title{
					font-size: 1.2rem;
				}
				&-lista{
					padding: .2em .5em;
					a{
						font-size: .8rem;

					}
				}
			}
		}
	}
}